<!DOCTYPE html>
<html>
<head>
    <title>#{title}</title>
    <meta charset="utf-8" />
</head>
<body>

    <section style="text-align: center;margin: 0 auto;width: 400px;padding: 200px 0;font-family: sans-serif;">
        <h2 class="title">Верифікація пройшла успішно.</h2>
        <p>Приємного користування</p>
        <a style="display: block;width: 100px;margin: auto;padding: 10px 0;background-color: aliceblue;border-radius: 10px;text-decoration: none;color: black;" href="https://shrouded-depths-14326.herokuapp.com/login">Вхід</a>
    </section> 

</body>
<html>



    
    
    
    